.heading{
    z-index: 100;
}

.slide-menu{
    z-index: 100;
}

.home-button{
    background-image: url("../images/home.png");
    background-size: cover;
    background-color: transparent;
    border: none;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content{
    flex: 1;
    display: flex;
    position: relative;
}

.contacts{
    min-width: 250px;
    background-color: beige;
    border-right: 1px solid #0073ff;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 88vh;
}

.chat{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: beige;
}

.chatHeader{
    display: flex;
    align-items: center;
    height: 25px;
    border-bottom: 1px solid #0073ff;
}

.conversation{
   flex: 1;
}

.chatControls{
    display: flex;
    align-items: flex-start;
    min-height: 100px;
    background-color: beige;
    border-top: 1px solid #0073ff;
}

#chatInput{
    flex: 1;
    margin: 10px;
    resize: none;
    width: 50vw;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#chatSend{
    height: 40px;
    width: 50px;
    margin: 10px 20px 10px 10px;
    cursor: pointer;
    border-radius: 10px;
}

#chatSend:hover{
    background-color: rgba(226, 226, 226, 0.76);
}

.contact{
    display: flex;
    align-items: center;
    border: 1px solid #0073ff;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #fffff6;
}

.contact:hover{
    border: 1px solid #ffab1e;
}

.contactPicture{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin: 10px 10px;
}

.contactName{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    max-width: 150px;
    word-wrap: break-word;
    margin-right: 10px;
}

#chatHeaderName{
    margin: 10px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.conversation{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 68vh;
    
}

.convo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #0073ff;
    border-radius: 10px;
    max-width: 50vw;
    word-break: break-all;
    background-color: #fffff6;
}

.chatSent{
    margin-right: 20px;
    align-self: flex-end;
}

.chatReceived{
    margin-left: 20px;
    align-self: flex-start;
}

@media (max-width: 550px) {
    .content{
        flex-direction: column;
    }
    .contacts{
        height: 60px;
        width: 100%;
        border-bottom: 1px solid #0073ff;
        flex-wrap: wrap;
    }
    .chatControls{
        height: 50px;
    }
    .contactPicture{
        height: 20px;
        width: 20px;
        border-radius: 20px;
    }
    .conversation{
        max-height: 65vh;
    }
}